
<section id="currentPostComment">
  <section class="card">
      <div class="card-body">
        <h3 class="card-title">{{dbPost.title}}</h3> 
        {{!-- <h5>Posted on {{format_date date}}</h5> --}}
        <p class="card-text">{{dbPost.description}}</p>
    </div>
  </section>
{{#each dbPost.comments}}
  <section class="card">
    <div class="card-body">
      <p>Comment</p>
      <p class="card-text">{{description}}</p>
    </div>
  </section>
{{/each}}
</section>
<section class="card text-center">
<div class="card-body">
  <h3 class="card-title">Comment</h3>
  <form id="newComment">
    <div class="card-text"></div>
      <input id="hiddenCommentId" hidden="true" value="{{dbPost.id}}"></input>
      <textarea id="comment" placeholder="Type your comment here..."></textarea>
    </div>
    <button id="create">Submit</button>
</form>
</div>
</section>

<script src="/js/comment.js"></script>
