<section class="comment">
  <img src="/images/{{painting.filename}}" alt="{{painting.description}}">
  <div class="comment-details">
    <h3>{{comment.title}}</h3>
    <p>By: {{comment.user_name}}</p>
    <p>{{ format_date comment.comment_date}}</p>
  </div>
</section>