<h2>All Posts</h2>
{{#each posts}}
  <section class="card">
    <a href="/posts/{{id}}" class="card-body">
      <h3 class="card-title">{{title}}</h3>
      {{!-- <h5>Posted by {{user.username}} on {{format_time date}}</h5> --}}
      <p class="card-text">{{description}}</p>
    </a>
  </section>
{{/each}}